<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.flexivendsymbol">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.app.flexivendsymbol.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OnboardingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.CounterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ScanningActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SharingActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.app.flexivendsymbol.services.RecognizerService"
            android:exported="false" />
    </application>
</manifest>